@using MiniERP.Mvc.Common
@model EmployeeIndexVm

@{
    ViewBag.Title = "Employees";
}

<div class="container-fluid mt-4">

    @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="alert alert-danger">
            @Model.ErrorMessage
        </div>
    }

    @if (Model.Employees.Items.Any())
    {
        <div class="card shadow-sm">
            @* -------- Header -------- *@
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Employees</h5>

                <a asp-asp-action="Create" class="btn btn-primary btn-sm">
                    Create Employee
                </a>
            </div>

            @* ------ Body ------- *@
            <div class="card-body">

                @* ----------- Search --------- *@
                <form action="" method="get">
                    <div class="row mb-3">
                        <div class="col md-4">
                            <input type="text" name="Search" class="form-control form-control-sm" placeholder="Search by id, name, department..."
                                   value="@Model.Query.Search" />
                        </div>

                        <div class="col-auto">
                            <button type="submit" class="btn btn-info btn-sm">
                                Search
                            </button>
                        </div>
                    </div>
                </form>

                @* -------- Table Data -------- *@
                <table class="table table-hover align-middle">
                    <thead class="table-secondary">
                        <tr>
                            <th width="80">Id</th>
                            <th>Fullname</th>
                            <th>Department</th>
                            <th width="140">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.Employees.Items)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>
                                    @item.FirstName
                                    @item.LastName
                                </td>
                                <td>@item.DepartmentTitle</td>

                                @* --------- Actions -------- *@
                                <td>
                                    <a asp-action="Details" asp-route-itemid="@item.Id" class="btn btn-outline-info btn-sm">
                                        <i class="bi bi-eye"></i>
                                    </a>

                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm">
                                        <i class="bi bi-pencil"></i>
                                    </a>

                                    <form asp-action="Delete" asp-route-id="@item.Id" method="post" class="d-inline"
                                          onsubmit="return confirm('Delete Employee')">
                                        <button type="submit" class="btn btn-outline-danger btn-sm">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @* ------ End Body ----- *@
        </div>
    }
    else
    {
        <div class="card shadow-sm">
            <div class="card-body text-center py-5">
                <i class="bi bi-inbox fs-1 text-muted"></i>
                <h5>No Employees Found</h5>

                <p class="text-muted">
                    Create yout first employee to get started
                </p>

                <a asp-action="Create" class="btn btn-primary">
                    Create Employee
                </a>
            </div>
        </div>
    }

</div>




