@model DepartmentIndexVm

@{
    ViewBag.Title = "Departments";
}

<div class="container-fluid mt-4">

    @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="alert alert-danger">
            @Model.ErrorMessage
        </div>
    }

    @if (Model.Departments.Items.Any())
    {
        <div class="card shadow-sm">
            @* ---------- Header ----------- *@
            <div class="card-header d-flex justify-content-between aligh-items-center">
                <h5 class="mb-0">Departments</h5>

                <a asp-action="Create" class="btn btn-primary btn-sm">
                    Create Department
                </a>
            </div>

            @* ---------- Body ----------- *@
            <div class="card-body">

                @* ----------- Search --------- *@
                <form action="" method="get">
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <input type="text" name="Search" class="form-control form-control-sm"
                                   placeholder="Search by id, title..." value="@Model.Query.Search" />
                        </div>

                        <div class="col-auto">
                            <button type="submit" class="btn btn-outline-primary btn-sm text-black">
                                Search
                            </button>
                        </div>
                    </div>
                </form>

                @* -------- Table Data -------- *@
                <table class="table table-hover align-middle">
                    <thead class="table-secondary">
                        <tr>
                            <th width="80">Id</th>
                            <th>Title</th>
                            <th width="140">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.Departments.Items)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Title</td>

                                @* ---------- Actions ----------- *@
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">
                                        <i class="bi bi-eye"></i>
                                    </a>

                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm">
                                        <i class="bi bi-pencil"></i>
                                    </a>

                                    <form asp-action="Delete" asp-route-id="@item.Id" method="post" class="d-inline"
                                          onsubmit="return confirm('Delete this department?')">

                                        <button type="submit" class="btn btn-outline-danger btn-sm">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                @* ------ Pagination ------ *@
                @if (Model.Departments.TotalPages > 1)
                {
                    <nav class="mt-3">
                        <ul class="pagination justify-content-center">
                            @* Previous *@
                            <li class="page-item @(Model.Departments.Page == 1 ? "disabled" : "")">
                                <a class="page-link" asp-action="Index" asp-route-page="@(Model.Departments.Page - 1)"
                                   asp-route-search="@Model.Query.Search">
                                    Previous
                                </a>
                            </li>

                            @* Page Number *@
                            @for (int i = 1; i <= Model.Departments.TotalPages; i++)
                            {
                                <li class="page-item @(i == Model.Departments.Page ? "active" : "")">
                                    <a class="page-link" asp-action="Index" asp-route-page="@i"
                                       asp-route-search="@Model.Query.Search">
                                        @i
                                    </a>
                                </li>
                            }

                            @* Next *@
                            <li class="page-item @(Model.Departments.Page == Model.Departments.TotalPages ? "disabled" : "")">
                                <a class="page-link" asp-action="Index" asp-route-page="@(Model.Departments.Page + 1)"
                                   asp-route-search="@Model.Query.Search">
                                    Next
                                </a>
                            </li>
                        </ul>
                    </nav>
                }
            </div>
            @* ---------- End Body ------------ *@
        </div>
    }
    else
    {
        <div class="card shadow-sm">
            <div class="card-body text-center py-5">
                <i class="bi bi-inbox fs-1 text-muted"></i>
                <h5>No Departments Found</h5>

                <p class="text-muted">
                    Create your first department to get started
                </p>

                <a asp-action="Create" class="btn btn-primary">
                    Create Department
                </a>
            </div>
        </div>
    }

</div>